# Initial dependencies (will be expanded)
# For GitHub API (example, actual library might change)
# PyGithub

# For CLI (example)
# click
# typer

# For AST parsing (example)
# astroid

# For now, this file is empty as the current stubs don't require external libraries.
# We will add dependencies as we implement features.
